/** @format */

.container {
  border: solid black;
  border-width: 0 0 0 1px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding-left: 5px;
}

.fullscreen {
  display: flex;
  flex: 1;
}

.notebookInput {
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
  resize: none;
  display: flex;
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 0;
}

.date {
  text-align: center;
  color: #5e5d5d;
}

@media screen and (max-width: 750px) {
  .container {
    border: none;
  }
}
