/** @format */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  & > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      min-width: 30px;
      height: 30px;
      padding: 0;
    }
    .menu {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .container {
    & > div:first-child {
      gap: 5px;
      .menu {
        display: flex;
      }
    }
  }
}
