/** @format */

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  direction: rtl;
}

@media screen and (max-width: 750px) {
  .container::-webkit-scrollbar {
    display: none;
  }
}
